[Unit]
Description=MediaMTX RTMP Server
Documentation=https://github.com/bluenviron/mediamtx
After=network.target
Before=drone-api.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mediamtx
ExecStart=/opt/mediamtx/mediamtx /etc/drone/mediamtx.yml
Restart=always
RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mediamtx

[Install]
WantedBy=multi-user.target
