[Unit]
Description=MediaMTX RTMP Server
Documentation=https://github.com/bluenviron/mediamtx
After=network-online.target
Wants=network-online.target
Before=drone-api.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mediamtx
ExecStartPre=/bin/sleep 2
ExecStart=/opt/mediamtx/mediamtx /etc/drone/mediamtx.yml
Restart=always
RestartSec=5s
StartLimitBurst=5
StartLimitIntervalSec=60

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mediamtx

WatchdogSec=30
NotifyAccess=all

[Install]
WantedBy=multi-user.target
